.text-center{
    text-align: center;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
/* .orange{
    background-color: coral;
}
.dark-grey{
    background-color: darkgray;
    color:black;
}
.grey{
    background-color: black;
} */